/* FONTS */

@font-face {
    font-family: 'Marketing Script';
    src: url('../fonts/marketingscript-webfont.eot');
    src: url('../fonts/marketingscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marketingscript-webfont.woff2') format('woff2'),
         url('../fonts/marketingscript-webfont.woff') format('woff'),
         url('../fonts/marketingscript-webfont.ttf') format('truetype'),
         url('../fonts/marketingscript-webfont.svg#marketing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/TrebuchetMS.eot');
    src: url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrebuchetMS.woff') format('woff'),
         url('../fonts/TrebuchetMS.ttf') format('truetype'),
         url('../fonts/TrebuchetMS.svg#marketing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}