$header-widget-bg: #f53f1a;
$text-color-dark: #302e2e;
$text-color-light: #5a5757;
$color-link: #076ca6;

$box-shadow: 0 0 5px rgba(0,0,0,.5);
$bd-radius: 2px;

$font-family: 'Myriad Pro', Tahoma, Arial, sans-serif;